@using Proyecto.Models;
@model plataforma
@{
    ViewBag.Title = "Contenido Programatico";
}
<br />
<h1><b>Contenido Programatico</b></h1>
<hr />
<div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th colspan="20">
                    <h3>@Model.nombreTema</h3>
                </th>
            </tr>
            <tr>
                <th>UNIDADES</th>
                <th> CONTENIDO</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.unidades != null && Model.unidades.Count > 0)
            {
                foreach (Unidades un in Model.unidades)
                {
                    <tr>
                        <th scope="row" title="@un.descripcion">@un.nombre </th>
                        @if (Model.recursos != null && Model.recursos.Count > 0)
                        {
                            foreach (Recursos re in Model.recursos)
                            {
                                if (re.idUnidad == un.idUnidad)
                                {
                                    <th>
                                        <a id="recurso" href="@Url.Action("recurso", "Plataforma", new { recurso = @re.idRecurso })" title="@re.descripcion">@re.nombre</a>
                                    </th>
                                }

                            }
                        }
                    </tr>

                }
            }
        </tbody>
    </table>
</div>
@*<div class="table-responsive">
    <table class="tabla table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th colspan="2">
                    <h3>@Model.nombreTema</h3>
                </th>
            </tr>
            <tr>
                <th>UNIDADES</th>
                <th> CONTENIDO</th>
                <th> CONTENIDO</th>
                    <th> CONTENIDO</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.unidades != null && Model.unidades.Count > 0)
            {
                foreach (Unidades un in Model.unidades)
                {
                    <tr>
                        <td scope="row" title="@un.descripcion">@un.nombre </td>
                        <td>
                            <ul class="list-group list-group-flush">
                                @if (Model.recursos != null && Model.recursos.Count > 0)
                                {
                                    foreach (Recursos re in Model.recursos)
                                    {
                                        if (re.idUnidad == un.idUnidad)
                                        {
                                            <li style="text-decoration:none; list-style: none;">
                                                <a id="recurso" href="@Url.Action("recurso", "Plataforma", new { recurso = @re.idRecurso })" title="@re.descripcion">@re.nombre</a>
                                            </li>

                                        }

                                    }
                                }
                            </ul>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>*@



