@using Proyecto.Models;
@model List<Usuario>
@{
    ViewBag.Title = "Contacto";
}
<div class="contenedor">
<hr />
    <h1>@ViewBag.Title.</h1>
<hr />
</div>
<div class="contenedor">
    @if (Model != null && Model.Count > 0)
    {
        foreach (Usuario p in Model)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div>
                        <h3>@p.nombre @p.apellidos</h3>
                        <p>@p.perfilProfesional</p>
                    </div>
                    <div>
                        Contacto: @p.correoElectronico
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    @if (!String.IsNullOrWhiteSpace(@p.fotografia))
                    {
                        <img class="visor" src="~/Archivos/@p.fotografia" width="30%" />
                    }
                </div>
            </div>
            <br />
            <hr />
        }
    }
</div>
    

