@using Proyecto.Models;
@model List<Usuario>
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<hr />
@if (Model != null && Model.Count > 0)
{
    foreach (Usuario p in Model)
    {
        if (p.idRol == 2)
        {
            <div class="col-md-12">
                <div class="col-md-6">
                    <address>
                        <h3>@p.nombre @p.apellidos</h3><br />
                        <p>@p.perfilProfesional</p><br />
                    </address>
                    <address>
                        <strong>Contacto:</strong>   <a href="mailto:@p.correoElectronico">@p.correoElectronico</a>
                    </address>
                </div>
                <div class="col-md-6">
                    @p.fotografia
                </div>
            </div>
        }
    }
}
<hr />
