@using Proyecto.Models;
@model plataforma
@{
    ViewBag.Title = "Contenido Programatico";
}
<br />
<h1><b>Contenido Programatico</b></h1>
<hr />
<table class="tabla table table-bordered">
    <thead>
        <tr>
            <th colspan="20">
                <h3>@Model.nombreTema</h3>
            </th>
        </tr>
        <tr>
            <th scope="col">Unidades</th>
            <th colspan="20"> contenid</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.unidades != null && Model.unidades.Count > 0)
        {
            foreach (Unidades un in Model.unidades)
            {
                <tr>
                    <th scope="row">@un.nombre </th>
                    @if (Model.recursos != null && Model.recursos.Count > 0)
                    {
                        foreach (Recursos re in Model.recursos)
                        {
                            if (re.idUnidad == un.idUnidad)
                            {
                                <th>
                                    <a id="recurso" href="@Url.Action("recurso", "Plataforma", new { recurso = @re.idRecurso })" title="@re.nombre">@re.nombre</a>
                                </th>
                            }

                        }
                    }
                </tr>

            }
        }
    </tbody>
</table>


