@using Proyecto.Models;
@model plataforma
@{
    ViewBag.Title = "Contenido Programatico";
}
<h2>Contenido Programatico </h2>
<hr />
<table class="tableContenido">
    <tbody>
        <tr>
            <th>
                <h3>@Model.nombreTema</h3>
            </th>
        </tr>
        @if (Model.unidades != null && Model.unidades.Count > 0)
        {
            foreach (Unidades un in Model.unidades)
            {
                <tr>
                    <th>
                        <br />
                        @un.nombre - @un.descripcion                        
                    </th>
                </tr>
                if (Model.recursos != null && Model.recursos.Count > 0)
                {
                    foreach (Recursos re in Model.recursos)
                    {
                        if (re.idUnidad == un.idUnidad)
                        {
                            <tr>
                                <th>
                                    &nbsp&nbsp&nbsp * @re.nombre - @re.descripcion
                                </th>
                            </tr>
                        }

                    }
                }
            }
        }
    </tbody>
</table>

