@model Usuario
@{Usuario us = (Usuario)Session["Usuario"];}
@using Proyecto.Models;
@{
    ViewBag.Title = "Registrar usuario";
}
<script>
    $(document).ready(function () {
        $(this).val()

    }
</script>
<h2>Registrar usuario</h2>
<div class="row">
    <div class="container">
        @using (Html.BeginForm("RegistrarUsuario", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "registrarse" }))
        {
            @*@Html.Hidden("idRol", "", new { @Class = "form-control", @Id = "txtidRol", @Value = 3 })
            @Html.Hidden("estado", "", new { @Class = "form-control", @Id = "txtestado", @Value = 1 })*@
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label>
                        Nombre
                    </label>
                    @Html.TextBox("nombre", "", new { @Class = "form-control", @placeholder = "Digite Nombre", @Id = "txtnombre", @data_value = "Nombres", required = "required" })
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label>
                        Apellido
                    </label>
                    @Html.TextBox("apellidos", "", new { @Class = "form-control", @placeholder = "Digite Apellidos", @Id = "txtapellidos", @data_value = "Apellidos", required = "required" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label>
                        Email
                    </label>
                    @Html.TextBox("correoElectronico", "", new { @type = "email", @Class = "form-control", @placeholder = "Correo Electronico", @Id = "txtcorreoElectronico", @data_value = "correoElectronico", required = "required" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label>
                        Usuario
                    </label>
                    @Html.TextBox("userName", "", new { @Class = "form-control", @placeholder = "Usuario", @Id = "txtuserName", @data_value = "userName", required = "required" })
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label>
                        Nivel Educativo
                    </label>
                    @Html.DropDownList("idNivelEstudios", (List<System.Web.Mvc.SelectListItem>)ViewBag.nivelEdu, "Seleccione...", new { @Class = "form-control form-control-sm", @title = "Nivel de Estudio", @value_data = "idNivelEstudios", required = "required" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label>
                        Contraseña
                    </label>
                    @Html.Password("userPassword", "", new { @pattern=".{6,}", @Class = "form-control", @placeholder = "Contraseña", @Id = "txtuserPassword", @data_value = "userPassword", required = "required" })
                    <small class="form-text text-muted">El contraseña debe tener como minino 6 caracteres .</small>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label>
                        Repetir Contraseña
                    </label>
                    @Html.Password("userPassword2", "", new { @pattern = ".{6,}", @Class = "form-control", @placeholder = "Confirmar Contraseña", @Id = "txtuserPassword2", @data_value = "userPassword", required = "required" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    @Html.CheckBox("docente", false, new { @Class = "form-check-input", @placeholder = "", @Id = "txtdocente", @value_data = "docente" })
                    <label class="form-check-label"> Es Docente * </label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><input type="submit" class="btn btn-primary" value="Registrar"></div>                
            </div> 
            <br />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><b>Si se registra como docente recuerde que después de hacer el registro debe esperar un correo con la confirmación para la activación del perfil</b></div>
            </div>
        }
    </div> 
    
</div>