@using Proyecto.Models;
@{Usuario us = (Usuario)Session["Usuario"];}
@model Recursos
@{
    ViewBag.Title = "Editar Recursos";
}
<div>
    <h1><b>Administración de portal</b></h1>
</div>
<hr />
<div class="col-md-2">
    <!-- Menu lateral -->
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand" href="#">@Html.ActionLink("Tema", "Index", "Admin")</span>
    </nav>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand">@Html.ActionLink("Unidades", "ListarUnidades", "Admin")</span>
    </nav>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand">@Html.ActionLink("Recursos", "listarRecursos", "Admin")</span>
    </nav>
    @if (us.idRol == 1)
    {
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand">@Html.ActionLink("Email", "email", "Admin")</span>
    </nav>
    }
</div>
<div class="col-md-10">
    <div>
        <h2><b>Editar Recursos</b></h2>
    </div>
    @using (Html.BeginForm("AgregarRecurso", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <form>
        @Html.Hidden("idRecurso", @Model.idUnidad, new { @value_data = "idRecurso" })
        @Html.Hidden("fecha", DateTime.Now, new { @value_data = "fecha" })
        @Html.Hidden("idUnidad", Model.idUnidad, new { @value_data = "idUnidad" })
        @if (us != null)
        {
            @Html.Hidden("userName", us.userName, new { @value_data = "userName" })
        }
        else
        {
            @Html.Hidden("userName", @Model.userName, new { @value_data = "userName" })
        }
        <div class="form-group">
            <label>
                Nombre <span class="req">*</span>
            </label>
            @Html.TextArea("nombre", @Model.nombre, new { @Class = "form-control", @placeholder = "", required = "required", @Id = "txtNombre", @value_data = "nombre" })
        </div>
        <div class="form-group">
            <label>
                Descripcion
            </label>
            @Html.TextArea("descripcion", @Model.descripcion, new { @Class = "form-control", @placeholder = "", @Id = "txtDescripcion", @value_data = "descripcion" })
        </div>
        <div class="form-group">
            <label>
                Unidad
            </label>
            @Html.DropDownList("idUnidad", (List<System.Web.Mvc.SelectListItem>)ViewBag.unidades, "Seleccione...", new { @Class = "form-control form-control-sm", @title = "Unidades", @value_data = "idUnidad" })
        </div>
        <div class="form-group">
            <label>
                URL
            </label>
            @Html.TextBox("url", @Model.url, new { @Class = "form-control", @placeholder = "", @Id = "txturl", @value_data = "url" })
        </div>
        <div class="form-group">
            <label>
                Archivo
            </label>
            @Html.TextBox("fileArchivo", @Model.archivo, new { @type = "file", @Class = "custom-file-input", @placeholder = "", @Id = "txtarchivo", @value_data = "archivo", accept = "application/pdf" })
        </div>
        <div class="form-group">
            <label>
                Imagen
            </label>
            @Html.TextBox("fileImagen", @Model.imagen, new { @type = "file", @Class = "custom-file-input", @placeholder = "", @Id = "txtimagen", @value_data = "imagen", accept = " image/*" })
            @*@Html.TextBox("imagen", @Model.imagen, new { @Class = "form-control", @placeholder = "", @Id = "txtimagen", @value_data = "imagen" })*@
        </div>
        <div class="form-group">
            <label>
                Estado
            </label>
            @Html.CheckBox("estado", @Model.estado, new { @Class = "form-control", @placeholder = "", @Id = "txtestado", @value_data = "estado" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
    }

</div>
