@using Proyecto.Models;
@{Usuario us = (Usuario)Session["Usuario"];}
@model Unidades
@{
    ViewBag.Title = "Editar Unidades";
}
<div>
    <h1><b>Administración de portal</b></h1>
</div>
<hr />
<div class="row">
    @if (Model != null)
    {
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <!-- Menu lateral -->
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand" href="#">@Html.ActionLink("Tema", "Index", "Admin")</span>
            </nav>
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand">@Html.ActionLink("Unidades", "ListarUnidades", "Admin")</span>
            </nav>
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand">@Html.ActionLink("Recursos", "listarRecursos", "Admin")</span>
            </nav>
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand">@Html.ActionLink("Usuarios", "gestionarusuarios", "Admin")</span>
            </nav>
            @if (us.idRol == 1)
            {
                <nav class="navbar navbar-light bg-light">
                    <span class="navbar-brand">@Html.ActionLink("Email", "email", "Admin")</span>
                </nav>
            }
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div>
                <h2><b>Editar Unidades</b></h2>
            </div>
            @using (Html.BeginForm("GuardarUnidad", "Admin", new AjaxOptions { HttpMethod = "POST" }))
            {
            <form>
                @Html.Hidden("idUnidad", @Model.idUnidad, new { @value_data = "idUnidad" })
                @Html.Hidden("fecha", DateTime.Now, new { @value_data = "fecha" })
                @Html.Hidden("idTema", Model.idTema, new { @value_data = "idTema" })
                @if (us != null)
                {
                    @Html.Hidden("userName", us.userName, new { @value_data = "userName" })
                }
                else
                {
                    @Html.Hidden("userName", @Model.userName, new { @value_data = "userName" })
                }
                <div class="form-group">
                    <label>
                        Nombre <span class="req">*</span>
                    </label>
                    @Html.TextArea("nombre", @Model.nombre, new { @Class = "form-control", @placeholder = "", @Id = "txtNombre", @value_data = "nombre" })
                </div>
                <div class="form-group">
                    <label>
                        Descripcion <span class="req">*</span>
                    </label>
                    @Html.TextArea("descripcion", @Model.descripcion, new { @Class = "form-control", @placeholder = "", @Id = "txtDescripcion", @value_data = "descripcion" })
                </div>
                <div class="form-group">
                    @Html.CheckBox("estado", @Model.estado, new { @Class = "form-check-input", @placeholder = "", @Id = "txtestado", @value_data = "estado" })
                    <label class="form-check-label"> Estado </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
            }

        </div>
    }
</div>



