@using Proyecto.Models;
@{Usuario us = (Usuario)Session["Usuario"];}
@model ConfigEmail
@{
    ViewBag.Title = "COnfiguracion E-mail";
}
<div>
    <h1><b>Administración de portal</b></h1>
</div>
<hr />
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <!-- Menu lateral -->
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand" href="#">@Html.ActionLink("Tema", "Index", "Admin")</span>
        </nav>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">@Html.ActionLink("Unidades", "ListarUnidades", "Admin")</span>
        </nav>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">@Html.ActionLink("Recursos", "listarRecursos", "Admin")</span>
        </nav>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">@Html.ActionLink("Evidencias", "evidencias", "Admin")</span>
        </nav>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">@Html.ActionLink("Usuarios", "gestionarusuarios", "Admin")</span>
        </nav>
        @if (us.idRol == 1)
        {
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand">@Html.ActionLink("Email", "email", "Admin")</span>
            </nav>
        }
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div>
            <h2><b>Agregar Configuracion Email</b></h2>
        </div><hr />
        @using (Html.BeginForm("GuardarConfEmail", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <form>
                @Html.Hidden("idConfigEmail", @Model.idConfigEmail, new { @value_data = "idConfigEmail" })
                <div class="form-group">
                    <label>
                        Nombre
                    </label>
                    @Html.TextBox("nombre", @Model.nombre, new { @Class = "form-control", @placeholder = "", @Id = "txtnombre", @value_data = "nombre", required = "required" })
                </div>
                <div class="form-group">
                    <label>
                        Servidor
                    </label>
                    @Html.TextBox("servidor", @Model.servidor, new { @Class = "form-control", @placeholder = "", @Id = "txtservidor", @value_data = "servidor", required = "required" })
                </div>
                <div class="form-group">
                    <label>
                        E-mail
                    </label>
                    @Html.TextBox("usuario", @Model.usuario, new { @type = "email", @Class = "form-control", @placeholder = "", @Id = "txtusuario", @value_data = "usuario", required = "required" })
                </div>
                <div class="form-group">
                    <label>
                        Clave
                    </label>
                    @Html.TextBox("clave", @Model.clave, new { @type = "password", @Class = "form-control", @placeholder = "", @Id = "txtclave", @value_data = "clave", required = "required" })
                </div>
                <div class="form-group">
                    <label>
                        Puerto
                    </label>
                    @Html.TextBox("puerto", @Model.puerto, new { @type = "number", @Class = "form-control", @placeholder = "", @Id = "txtpuerto", @value_data = "puerto", required = "required" })
                </div>
                <div class="form-group">
                    <label>
                        ssl
                    </label>
                    @Html.CheckBox("ssl", @Model.ssl, new { @Class = "form-control", @placeholder = "", @Id = "txtssl", @value_data = "ssl" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        }
        <div class="form-group">
            <a class="btn btn-primary" href="@Url.Action("EmailPrueba", "Admin")" title="Envio Correo de prueba">Correo de prueba</a>
        </div>
    </div>
</div>
