@using Proyecto.Models;
@{Usuario us = (Usuario)Session["Usuario"];}
@model Tema
@{
    ViewBag.Title = "Index";
}
<div>
    <h1><b>Administración del portal</b></h1>
</div>
<hr />
<div>
    <h2><b>Tema</b></h2>
    @ViewBag.Message
</div>
@using (Html.BeginForm("GuardarTema", "Admin", new AjaxOptions { HttpMethod = "POST" }))
{
<form>
    @Html.Hidden("idTema", @Model.idTema, new { })
    @Html.Hidden("fecha", DateTime.Now, new { })
    @if (us != null)
    {
        @Html.Hidden("userName", us.userName, new { })
    }
    else
    { 
        @Html.Hidden("userName", @Model.userName, new { })
    }
    <div class="form-group">
        <label>
            Nombre <span class="req">*</span>
        </label>
        @Html.TextArea("nombre", @Model.nombre, new { @Class = "form-control", @placeholder = "", @Id = "txtNombre" })
    </div>
    <div class="form-group">
        <label>
            Descripcion <span class="req">*</span>
        </label>
        @Html.TextArea("descripcion", @Model.descripcion, new { @Class = "form-control", @placeholder = "", @Id = "txtDescripcion" })
    </div>
    <div class="form-group">
        <label>
            Imagen <span class="req">*</span>
        </label>
        @Html.TextBox("imagen", @Model.imagen, new { @Class = "form-control", @placeholder = "", @Id = "txtimagen" })
    </div>
    <div class="form-group">
        <label>
            Estado <span class="req">*</span>
        </label>
        @Html.CheckBox("estado", @Model.estado, new { @Class = "form-control", @placeholder = "", @Id = "txtestado" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
}

