@using Proyecto.Models;
@{Usuario us = (Usuario)Session["Usuario"];}
@{Tema tema = (Tema)Session["tema"];}
@model List<Recursos>
@{
    ViewBag.Title = "Listar Recursos";
}
<div>
    <h1><b>Administración del portal</b></h1>
</div>
<hr />
<div class="col-md-2">
    <!-- Menu lateral -->
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand" href="#">@Html.ActionLink("Tema", "Index", "Admin")</span>
    </nav>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand">@Html.ActionLink("Unidades", "ListarUnidades", "Admin")</span>
    </nav>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand">@Html.ActionLink("Recursos", "listarRecursos", "Admin")</span>
    </nav>
</div>
<a>@Html.ActionLink("Agregar Recurso", "AgregarRecurso", "Admin")</a>
<hr />
<table class="table table-striped table-condensed table-hover">
    <thead class="table-light">
        <tr>
            <th>#</th>
            <th>nombre</th>
            <th>descripcion</th>
            <th>estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (Recursos re in Model)
            {
                <tr class="table-active">
                    <td>@re.idRecurso</td>
                    <td>@re.nombre</td>
                    <td>@re.descripcion</td>
                    <td>@re.estado</td>
                    <td><a class="btn btn-primary" href="@Url.Action("EditarRecurso", "Admin", new { idRecurso = re.idRecurso })" title="Editar">Editar</a></td>
                </tr>
            }
        }
    </tbody>
</table>