@using Proyecto.Models;
@{Usuario us = (Usuario)Session["Usuario"];}
@{Tema tema = (Tema)Session["tema"];}
@model List<Unidades>
@Scripts.Render("~/Content/jqueryFnSys")
@{
    ViewBag.Title = "Listar Unidades";
}
<style>
    #tb th {
        width: auto !important;
        white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left !important;
        -ms-word-break: break-all;
        -ms-word-break: normal;
        -moz-word-break: break-all;
        -moz-word-break: normal;
        word-break: break-all;
        word-break: normal;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
</style>
<div>
    <h1><b>Administración de portal</b></h1>
</div>
<hr />
<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <!-- Menu lateral -->
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand" href="#">@Html.ActionLink("Tema", "Index", "Admin")</span>
        </nav>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">@Html.ActionLink("Unidades", "ListarUnidades", "Admin")</span>
        </nav>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">@Html.ActionLink("Recursos", "listarRecursos", "Admin")</span>
        </nav>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">@Html.ActionLink("Usuarios", "gestionarusuarios", "Admin")</span>
        </nav>
        @if (us.idRol == 1)
        {
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand">@Html.ActionLink("Email", "email", "Admin")</span>
            </nav>
        }
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div>
            <h2><b>Unidades</b></h2>
        </div>
        <a>@Html.ActionLink("Agregar Unidad", "AgregarUnidades", "Admin")</a>
        <hr />
        <div class="tab-content mt-2 table-responsive">
            <div class="" id="tabone" role="tabpanel">
                <table id="tb" class="table table-striped table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>NOMBRE</th>
                            <th>DESCRIPCIÓN</th>
                            <th>ESTADO</th>
                            <th>OPCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (Unidades un in Model)
                            {
                                <tr class="table-active">
                                    @*<td>@un.idUnidad</td>*@
                                    <td>@un.nombre</td>
                                    <td>@un.descripcion</td>
                                    @if (@un.estado == true)
                                    {
                                        <td>Activo</td>
                                    }
                                    else
                                    {
                                        <td>Inactivo</td>
                                    }
                                    <td>
                                        <a class="btn btn-primary" href="@Url.Action("EditarUnidades", "Admin", new { idUnidad = un.idUnidad })" title="Editar">Editar</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" href="@Url.Action("cambiarestadounida", "Admin", new { idUnidad = un.idUnidad })" title="Cambiar Estado">Cambiar Estado</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

