@using Proyecto.Models;
@{Usuario us = (Usuario)Session["Usuario"];}
@{Tema tema = (Tema)Session["tema"];}
@model List<Recursos>
@{
    ViewBag.Title = "Listar Recursos";
    var groupBy =
    from Models in Model
    group Model by Models.idUnidad into newGroup
    orderby newGroup.Key
    select newGroup;
}
<div>
    <h1><b>Administración de portal</b></h1>
</div>
<hr />
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <!-- Menu lateral -->
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand" href="#">@Html.ActionLink("Tema", "Index", "Admin")</span>
        </nav>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">@Html.ActionLink("Unidades", "ListarUnidades", "Admin")</span>
        </nav>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">@Html.ActionLink("Recursos", "listarRecursos", "Admin")</span>
        </nav>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">@Html.ActionLink("Evidencias", "evidencias", "Admin")</span>
        </nav>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand">@Html.ActionLink("Usuarios", "gestionarusuarios", "Admin")</span>
        </nav>
        @if (us.idRol == 1)
        {
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand">@Html.ActionLink("Email", "email", "Admin")</span>
            </nav>
        }
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <div>
            <h2><b>Recursos</b></h2>
        </div>
        <a>@Html.ActionLink("Agregar Recurso", "AgregarRecurso", "Admin")</a>
        <hr />

        @if (Model != null && Model.Count > 0)
        {
            foreach (var nameGroup in groupBy)
            {
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h4 class="mb-0">
                                <a class="btn-link collapsed" type="button" data-toggle="collapse" data-target="#@nameGroup.Key" aria-expanded="false" aria-controls="collapseThree">
                                    @{ var nomuni = from uni in Model where uni.idUnidad == nameGroup.Key select uni.nomUnidad;} @nomuni.FirstOrDefault()
                                </a>
                            </h4>
                        </div>
                        <div id="@nameGroup.Key" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="tabla table table-striped table-condensed table-hover">
                                        <thead class="table-light">
                                            <tr>
                                                <th>NOMBRE</th>
                                                <th>DESCRIPCIÓN</th>
                                                <th>EVIDENCIA</th>
                                                <th>ESTADO</th>
                                                <th>TIPO RECURSO</th>
                                                <th>OPCIONES</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Recursos re in Model)
                                            {
                                                if (nameGroup.Key == re.idUnidad)
                                                {
                                            <tr class="table-active">
                                                <td>@re.nombre</td>
                                                <td> @Html.Raw(@re.descripcion)</td>
                                                <td>@re.evidencia</td>
                                                @if (@re.estado == true)
                                                {
                                                    <td>Activo</td>
                                                }
                                                else
                                                {
                                                    <td>Inactivo</td>
                                                }
                                                @if (@re.tipoRecurso == "C")
                                                {
                                                    <td>Contenido</td>
                                                }
                                                else if (@re.tipoRecurso == "A")
                                                {
                                                    <td>Actividad</td>
                                                }
                                                else
                                                {
                                                    <td>Evaluacion</td>
                                                }
                                                <td><a class="btn btn-primary" href="@Url.Action("EditarRecurso", "Admin", new { idRecurso = re.idRecurso })" title="Editar">Editar</a></td>
                                                <td><a class="btn btn-primary" href="@Url.Action("cambiarestadorecurso", "Admin", new { idRecurso = re.idRecurso })" title="Cambiar Estado">Cambiar Estado</a></td>
                                            </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
        <hr />
    </div>
</div>


