@using Proyecto.Models;
@using Proyecto.Funciones;
@{Usuario us = (Usuario)Session["Usuario"];}
@model plataforma
@{
    ViewBag.Title = "Plataforma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .visor {
        width: 100%;
        min-height: 500px;
    }

    .textright {
        text-align: right;
    }

    img {
        width: 100px;
        height: 100px;
    }
</style>
<hr />
@if (@Model != null)
{
    if (@Model.tipoRecurso == null)
    {
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @if (@Model.nombreTema != null)
                {
                    <h1><b>@Model.nombreTema</b></h1>
                }
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img class="visor img-thumbnail" src="~/Archivos/@Model.imagenTema" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p>@Model.descripcionTema</p>
            </div>
        </div>
    }
    else if (Model.tipoRecurso == "URL")
    {
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1><b>@Model.nombreUnidad</b></h1>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <iframe class="visor img-thumbnail" src="@Model.url" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <h2>@Model.nombreRecurso</h2><br />
                    <p>@Model.descripcionRecurso</p>
                </div>
                <hr />
                <div class="row">
                    @if (@Model.evidencia)
                    {
                        if (Model.evidenciaM != null)
                        {
                            <div class="row">
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6"><h3><b>Enviar evidencia</b></h3></div>
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6 textright"><h4>@Model.puntosRecurso / @Model.evidenciaM.puntosAlcanzados</h4></div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6"><p>@Model.descEvidencia</p></div>
                            </div>
                            using (Html.BeginForm("gestionarEvidencia", "Plataforma", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <from>
                                    @Html.Hidden("idEvidencia", @Model.evidenciaM.idEvidencia, new { @value_data = "idEvidencia" })
                                    @Html.Hidden("idTema", @Model.evidenciaM.idTema, new { @value_data = "idTema" })
                                    @Html.Hidden("idUnidad", @Model.evidenciaM.idUnidad, new { @value_data = "idUnidad" })
                                    @Html.Hidden("idRecurso", @Model.evidenciaM.idRecurso, new { @value_data = "idRecurso" })
                                    @Html.Hidden("archivo", @Model.evidenciaM.archivo, new { @value_data = "archivo" })
                                    @Html.Hidden("entregado", @Model.evidenciaM.entregado, new { @value_data = "entregado" })
                                    @Html.Hidden("userName", us.userName, new { @Id = "txtarchivo", @value_data = "userName" })

                                    @if (@Model.evidenciaM.entregado)
                                    {
                                        <div class="cont col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label>
                                                    Actividad entregada
                                                </label>
                                            </div>
                                        </div>
                                        <div class="cont col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label>
                                                    Comentario: @Model.evidenciaM.observacion
                                                </label>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label>
                                                        Archivo
                                                    </label>
                                                    @Html.TextBox("fileArchivo", @Model.evidenciaM.fileArchivo, new { @type = "file", @Class = "custom-file-input", @placeholder = "", @Id = "txtfileArchivo", @title = "se admiten solo PDF", @value_data = "fileArchivo", accept = "application/pdf" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cont col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label>
                                                    Comentario
                                                </label>
                                                @Html.TextArea("observacion", @Model.evidenciaM.observacion, new { @Class = "form-control", @placeholder = "", @Id = "txtobservacion", @value_data = "observacion" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                        </div>
                                    }
                                </from>
                            }
                            <div class="row">
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <p>Observación: @Model.evidenciaM.retroalimentacion</p>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="row">
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6"><h3><b>Enviar evidencia</b></h3></div>
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6 textright"><h4>@Model.puntosRecurso</h4></div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6"><p>@Model.descEvidencia</p></div>
                            </div>
                            using (Html.BeginForm("gestionarEvidencia", "Plataforma", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <from>
                                    @Html.Hidden("idEvidencia", "", new { @value_data = "idEvidencia" })
                                    @Html.Hidden("idTema", Model.idTema, new { @value_data = "idTema" })
                                    @Html.Hidden("idUnidad", Model.idUnidad, new { @value_data = "idUnidad" })
                                    @Html.Hidden("idRecurso", Model.idRecurso, new { @value_data = "idRecurso" })
                                    @Html.Hidden("archivo", "", new { @value_data = "archivo" })
                                    @Html.Hidden("entregado", "", new { @value_data = "entregado" })
                                    @Html.Hidden("userName", us.userName, new { @Id = "txtarchivo", @value_data = "userName" })
                                    <div class="row">
                                        <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>
                                                    Archivo
                                                </label>
                                                @Html.TextBox("fileArchivo", "", new { @type = "file", @Class = "custom-file-input", @placeholder = "", @Id = "txtfileArchivo", @title = "se admiten solo PDF", @value_data = "fileArchivo", accept = "application/pdf" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cont col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label>
                                                Comentario
                                            </label>
                                            @Html.TextArea("observacion", "", new { @Class = "form-control", @placeholder = "", @Id = "txtobservacion", @value_data = "observacion" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>

                                </from>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
    else if (Model.tipoRecurso == "ARCHIVO")
    {
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1><b>@Model.nombreUnidad</b></h1>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <object class="visor" data="~/Archivos/@Model.archivo" type="application/pdf"></object>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <h2>@Model.nombreRecurso</h2><br />
                    <p>@Model.descripcionRecurso</p>
                </div>
                <hr />
                <div class="row">
                    @if (@Model.evidencia)
                    {
                        if (Model.evidenciaM != null)
                        {
                            <div class="row">
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6"><h3><b>Enviar evidencia</b></h3></div>
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6 textright"><h4>@Model.puntosRecurso / @Model.evidenciaM.puntosAlcanzados</h4></div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6"><p>@Model.descEvidencia</p></div>
                            </div>
                            using (Html.BeginForm("gestionarEvidencia", "Plataforma", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <from>
                                    @Html.Hidden("idEvidencia", @Model.evidenciaM.idEvidencia, new { @value_data = "idEvidencia" })
                                    @Html.Hidden("idTema", @Model.evidenciaM.idTema, new { @value_data = "idTema" })
                                    @Html.Hidden("idUnidad", @Model.evidenciaM.idUnidad, new { @value_data = "idUnidad" })
                                    @Html.Hidden("idRecurso", @Model.evidenciaM.idRecurso, new { @value_data = "idRecurso" })
                                    @Html.Hidden("archivo", @Model.evidenciaM.archivo, new { @value_data = "archivo" })
                                    @Html.Hidden("entregado", @Model.evidenciaM.entregado, new { @value_data = "entregado" })
                                    @Html.Hidden("userName", us.userName, new { @Id = "txtarchivo", @value_data = "userName" })

                                    @if (@Model.evidenciaM.entregado)
                                    {
                                        <div class="cont col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label>
                                                    Actividad entregada
                                                </label>
                                            </div>
                                        </div>
                                        <div class="cont col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label>
                                                    Comentario: @Model.evidenciaM.observacion
                                                </label>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label>
                                                        Archivo
                                                    </label>
                                                    @Html.TextBox("fileArchivo", @Model.evidenciaM.fileArchivo, new { @type = "file", @Class = "custom-file-input", @placeholder = "", @Id = "txtfileArchivo", @title = "se admiten solo PDF", @value_data = "fileArchivo", accept = "application/pdf" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cont col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label>
                                                    Comentario
                                                </label>
                                                @Html.TextArea("observacion", @Model.evidenciaM.observacion, new { @Class = "form-control", @placeholder = "", @Id = "txtobservacion", @value_data = "observacion" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                        </div>
                                    }
                                </from>
                            }
                            <div class="row">
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <p>Observación: @Model.evidenciaM.retroalimentacion</p>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="row">
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6"><h3><b>Enviar evidencia</b></h3></div>
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6 textright"><h4>@Model.puntosRecurso</h4></div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6"><p>@Model.descEvidencia</p></div>
                            </div>
                            using (Html.BeginForm("gestionarEvidencia", "Plataforma", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <from>
                                    @Html.Hidden("idEvidencia", "", new { @value_data = "idEvidencia" })
                                    @Html.Hidden("idTema", Model.idTema, new { @value_data = "idTema" })
                                    @Html.Hidden("idUnidad", Model.idUnidad, new { @value_data = "idUnidad" })
                                    @Html.Hidden("idRecurso", Model.idRecurso, new { @value_data = "idRecurso" })
                                    @Html.Hidden("archivo", "", new { @value_data = "archivo" })
                                    @Html.Hidden("entregado", "", new { @value_data = "entregado" })
                                    @Html.Hidden("userName", us.userName, new { @Id = "txtarchivo", @value_data = "userName" })
                                    <div class="row">
                                        <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>
                                                    Archivo
                                                </label>
                                                @Html.TextBox("fileArchivo", "", new { @type = "file", @Class = "custom-file-input", @placeholder = "", @Id = "txtfileArchivo", @title = "se admiten solo PDF", @value_data = "fileArchivo", accept = "application/pdf" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cont col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label>
                                                Comentario
                                            </label>
                                            @Html.TextArea("observacion", "", new { @Class = "form-control", @placeholder = "", @Id = "txtobservacion", @value_data = "observacion" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>

                                </from>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
    else if (Model.tipoRecurso == "IMAGEN")
    {
        <div class="row container-fluid">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1><b>@Model.nombreUnidad</b></h1>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img class="visor img-thumbnail" src="~/Archivos/@Model.imagen" />
            </div>
            <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <h2>@Model.nombreRecurso</h2><br />
                    <p>@Model.descripcionRecurso</p>
                </div>
                <hr />
                <div class="row">
                    @if (@Model.evidencia)
                    {
                        if (Model.evidenciaM != null)
                        {
                            <div class="row">
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6"><h3><b>Enviar evidencia</b></h3></div>
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6 textright"><h4>@Model.puntosRecurso / @Model.evidenciaM.puntosAlcanzados</h4></div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6"><p>@Model.descEvidencia</p></div>
                            </div>
                            using (Html.BeginForm("gestionarEvidencia", "Plataforma", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <from>
                                    @Html.Hidden("idEvidencia", @Model.evidenciaM.idEvidencia, new { @value_data = "idEvidencia" })
                                    @Html.Hidden("idTema", @Model.evidenciaM.idTema, new { @value_data = "idTema" })
                                    @Html.Hidden("idUnidad", @Model.evidenciaM.idUnidad, new { @value_data = "idUnidad" })
                                    @Html.Hidden("idRecurso", @Model.evidenciaM.idRecurso, new { @value_data = "idRecurso" })
                                    @Html.Hidden("archivo", @Model.evidenciaM.archivo, new { @value_data = "archivo" })
                                    @Html.Hidden("entregado", @Model.evidenciaM.entregado, new { @value_data = "entregado" })
                                    @Html.Hidden("userName", us.userName, new { @Id = "txtarchivo", @value_data = "userName" })

                                    @if (@Model.evidenciaM.entregado)
                                    {
                                        <div class="cont col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label>
                                                    Actividad entregada
                                                </label>
                                            </div>
                                        </div>
                                        <div class="cont col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label>
                                                    Comentario: @Model.evidenciaM.observacion
                                                </label>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label>
                                                        Archivo
                                                    </label>
                                                    @Html.TextBox("fileArchivo", @Model.evidenciaM.fileArchivo, new { @type = "file", @Class = "custom-file-input", @placeholder = "", @Id = "txtfileArchivo", @title = "se admiten solo PDF", @value_data = "fileArchivo", accept = "application/pdf" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cont col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label>
                                                    Comentario
                                                </label>
                                                @Html.TextArea("observacion", @Model.evidenciaM.observacion, new { @Class = "form-control", @placeholder = "", @Id = "txtobservacion", @value_data = "observacion" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                        </div>
                                    }
                                </from>
                            }
                            <div class="row">
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <p>Observación: @Model.evidenciaM.retroalimentacion</p>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="row">
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6"><h3><b>Enviar evidencia</b></h3></div>
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6 textright"><h4>@Model.puntosRecurso</h4></div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6"><p>@Model.descEvidencia</p></div>
                            </div>
                            using (Html.BeginForm("gestionarEvidencia", "Plataforma", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <from>
                                    @Html.Hidden("idEvidencia", "", new { @value_data = "idEvidencia" })
                                    @Html.Hidden("idTema", Model.idTema, new { @value_data = "idTema" })
                                    @Html.Hidden("idUnidad", Model.idUnidad, new { @value_data = "idUnidad" })
                                    @Html.Hidden("idRecurso", Model.idRecurso, new { @value_data = "idRecurso" })
                                    @Html.Hidden("archivo", "", new { @value_data = "archivo" })
                                    @Html.Hidden("entregado", "", new { @value_data = "entregado" })
                                    @Html.Hidden("userName", us.userName, new { @Id = "txtarchivo", @value_data = "userName" })
                                    <div class="row">
                                        <div class="cont col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>
                                                    Archivo
                                                </label>
                                                @Html.TextBox("fileArchivo", "", new { @type = "file", @Class = "custom-file-input", @placeholder = "", @Id = "txtfileArchivo", @title = "se admiten solo PDF", @value_data = "fileArchivo", accept = "application/pdf" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cont col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label>
                                                Comentario
                                            </label>
                                            @Html.TextArea("observacion", "", new { @Class = "form-control", @placeholder = "", @Id = "txtobservacion", @value_data = "observacion" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>

                                </from>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
    <hr />
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="tabla table table-bordered">
                @if (Model.unidades != null && Model.unidades.Count > 0)
                {
                    foreach (Unidades un in Model.unidades)
                    {
                        <tr>
                            <th width="20%"><h2>@un.nombre</h2></th>
                            <th width="80%">
                                @if (Model.recursos != null && Model.recursos.Count > 0)
                                {
                                    foreach (Recursos re in Model.recursos)
                                    {
                                        if (re.idUnidad == un.idUnidad)
                                        {

                                            if (@re.url != null)
                                            {
                                                <a id="recurso" href="@Url.Action("recurso", "Plataforma", new { recurso = @re.idRecurso })" title="@re.nombre"><img src="~/Archivos/video.png" /></a>
                                            }
                                            else if (@re.archivo != null)
                                            {
                                                <a id="recurso" href="@Url.Action("recurso", "Plataforma", new { recurso = @re.idRecurso })" title="@re.nombre"><img src="~/Archivos/archivo.png" /></a>
                                            }
                                            else
                                            {
                                                <a id="recurso" href="@Url.Action("recurso", "Plataforma", new { recurso = @re.idRecurso })" title="@re.nombre"><img src="~/Archivos/imagen.png" /></a>
                                            }
                                        }
                                    }
                                }
                            </th>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
}



