@using Proyecto.Models;
@using Proyecto.Funciones;
@model plataforma
@{
    ViewBag.Title = "Plataforma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .cont {
        position: relative;
        width: 100%;
        height: 50%;
        overflow: hidden;
        padding-top: 40%; /* 4:3 Aspect Ratio */
    }
    .cont2 {
        position: relative;
        width: 100%;
        height: 440px;
        overflow: hidden;
    }

    object {
        width: 100%;
        max-height: 100%;
    }

    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
</style>
<div class="container-fluid">
    @*<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1><b>Plataforma</b></h1></div>
    </div>
    <hr />*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1><b>@Model.nombreTema</b></h1></div>
    </div>
    <hr />
    <div class="row">
        @if (@Model.tipoRecurso == null)
        {
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img src="~/Archivos/fondo.jpg" width="100%" />
            </div>
        }
        else if (Model.tipoRecurso == "URL")
        {
            <div class="cont col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <iframe class="responsive-iframe" src="@Model.url"></iframe>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                @Model.descripcion
            </div>
            @*<div class="cont">
                <iframe class="responsive-iframe" src="@Model.url"></iframe>
            </div>
            <p>Resize the window to see the effect.</p>*@

        }
        else if (Model.tipoRecurso == "ARCHIVO")
        {
            <div class="cont2  col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <object data="~/Archivos/@Model.archivo" type="application/pdf" width="100%" height="100%"></object>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                @Model.descripcion
            </div>
        }
        else if (Model.tipoRecurso == "IMAGEN")
        {
            <div class="cont col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img class="responsive-iframe" src="@Model.imagen" />
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                @Model.descripcion
            </div>
        }


    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table">
                @if (Model.unidades != null && Model.unidades.Count > 0)
                {
                    foreach (Unidades un in Model.unidades)
                    {
                <tr>
                    <th>@un.nombre</th>
                    <th>
                        @if (Model.recursos != null && Model.recursos.Count > 0)
                        {
                            foreach (Recursos re in Model.recursos)
                            {
                                if (re.idUnidad == un.idUnidad)
                                {

                                    if (@re.url != null)
                                    {
                                        <a id="recurso" href="@Url.Action("recurso", "Plataforma", new { recurso = @re.idRecurso })" title="@re.nombre"><img src="~/Archivos/video.png" width="10%" height="10%" /></a>
                                    }
                                    else if (@re.archivo != null)
                                    {
                                        <a id="recurso" href="@Url.Action("recurso", "Plataforma", new { recurso = @re.idRecurso })" title="@re.nombre"><img src="~/Archivos/archivo.png" width="10%" height="10%" /></a>
                                    }
                                    else
                                    {
                                        <a id="recurso" href="@Url.Action("recurso", "Plataforma", new { recurso = @re.idRecurso })" title="@re.nombre"><img src="~/Archivos/imagen.png" width="10%" height="10%" /></a>
                                    }


                                }
                            }
                        }
                    </th>                    
                </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>


