@{Usuario us = (Usuario)Session["Usuario"];}
@{plataforma pt = (plataforma)Session["plataforma"];}
<!DOCTYPE html>
<style>
    .navbar-default {
        background-color: #60c7c1 !important;
    }
    .navbar-default .navbar-nav > li > a {
        background: #60c7c1;
        Color: #fff !important;
    }
    .navbar-default .navbar-brand {
        Color: #fff !important;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        background-color: #60c7c1 !important;
    }
    .btn {
        background: #60c7c1;
        Color: #fff !important;
    }
</style>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @using Proyecto.Models
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="contensdorbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["Usuario"] != null)
                    {
                        <li>@Html.ActionLink("Contenido", "Contenido", "Home")</li>
                        <li>@Html.ActionLink("Plataforma", "Index", "Plataforma")</li>
                        @*<li>@Html.ActionLink("Foro", "Foro", "Home")</li>*@
                    }
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["Usuario"] == null)
                    {
                        <li>@Html.ActionLink("Registrarse", "RegistrarUsu", "Home")</li>
                        <li><a data-toggle="modal" data-target="#login">Login</a></li>
                    }
                    else
                    {

                        if (us.idRol == 1 || us.idRol == 2)
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Hola @us.nombre
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Cuenta", "Cuenta", "Home")</li>
                                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Hola "+us.nombre, "Cuenta", "Home")</li>
                        }
                        <li>@Html.ActionLink("Cerrar Sesión", "Logout", "Home")</li>

                    }
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="contenedor body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @if (@pt != null)
            {@pt.nombreTema}</p>
        </footer>
    </div>

    <!-- Modal Login -->
    <div id="login" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="avatar">
                        <img src="~/Content/images/user.png" alt="">
                    </div>
                    <h4 class="modal-title">Iniciar Sesión</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "frmLogin" }))
                    {
                        <div class="form-group">
                            @Html.TextBox("userName", "", new { @Class = "form-control", @placeholder = "Digite usuario", @Id = "txtIdUsuario", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.Password("userPassword", "", new { @Class = "form-control", @placeholder = "Digite password", @Id = "pswClave", required = "required" })
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-btn" title="Ingresar al sitio">Acceder</button>
                    }
                </div>
                <div class="modal-footer">
                    <a data-toggle="modal" data-target="#regis" id="registrar">@Html.ActionLink("Registrarse", "RegistrarUsu", "Home")</a><br />
                    <a data-toggle="modal" data-target="#RecPass" id="recuperar">Recuperar Password</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Recuperar Password-->
    <div id="RecPass" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="avatar">
                        <img src="~/Content/images/user.png" alt="">
                    </div>
                    <h4 class="modal-title">Recuperar Password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("RecuperarContrasena", "Home", FormMethod.Post, new { id = "frmLogin" }))
                    {
                        <div class="form-group">
                            @Html.TextBox("userName", "", new { @Class = "form-control", @placeholder = "Digite usuario", @Id = "txtIdUsuario" })
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-btn" title="Recuperar Password">Aceptar</button>
                    }
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $("#registrar").click(function () {
                $("#login").modal('hide');
            });
            $("#recuperar").click(function () {
                $("#login").modal('hide');
            });
            @if (!String.IsNullOrWhiteSpace(ViewBag.Usuario))
                {
                <text>
                alert('@Html.Raw(ViewBag.Usuario)');
                </text>
            }
        });

    </script>
</body>
</html>
